
.dialog {
  display: flex;
  flex-direction: row;
}

.dialog li {
  float: right;
}

.alice {
  width: 66px;
  height: 66px;
  background-image: url(faces.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bob {
  width: 66px;
  height: 66px;
  background-image: url(faces.png);
  background-repeat: no-repeat;
  background-position: 66px 0;
}